body {
    font-family: Arial, sans-serif;
    background-color: gold;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background: greenyellow;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    text-align: center;
    color: #333;
}

section {
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: 0 auto;
    border-style: double;
    border-color: blueviolet;
}

input,
button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #d8e0da;
    color: goldenrod;
    cursor: pointer;
}

button:hover {
    background-color: #888121;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-color: blue;
    border-style: double;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

th {
    background-color: #1b77d3;
}